<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>salary</th>
                <th>age</th>
                <th>profile pic</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of testData; let i=index">
                <td>{{i+1}}</td>
                <td>{{emp.employee_name}}</td>
                <td>{{emp.employee_salary}}</td>
                <td>{{emp.employee_age}}</td>
                <td>{{emp.profile_image}}</td>
            </tr>
        </tbody>
    </table>
</div>